body {
    background-color: #dbeaec;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    text-align: center;
}

.avatar {
    width: 200px;
}

.header_title {
    font-size: 28px;
}
.header_subtitle {
    color: rgb(49, 114, 133);
}

main {
    text-align: center;
}


.separator {
    width: 90%;
    height: 1px;
    background-color:rgb(49, 114, 133);
}


.class_interaction {
    display: block;
    margin: 0 auto;
}


.project_1 {
    font-size: 15px;
    display:inline-block; 
    padding:5px 9px; 
    background-color:#003a51; 
    color:#fff; 
    text-decoration:none; 
    border-radius:6px; 
    font-weight:bold;
}

.project_2 {
    font-size: 15px;
    display:inline-block; 
    padding:5px 9px; 
    background-color:#003a51; 
    color:#fff; 
    text-decoration:none; 
    border-radius:6px; 
    font-weight:bold;
}

.project_3 {
    font-size: 15px;
    display:inline-block; 
    padding:5px 9px; 
    background-color:#003a51; 
    color:#fff; 
    text-decoration:none; 
    border-radius:6px; 
    font-weight:bold;
}

.project_4 {
    font-size: 15px;
    display:inline-block; 
    padding:5px 9px; 
    background-color:#003a51; 
    color:#fff; 
    text-decoration:none; 
    border-radius:6px; 
    font-weight:bold;
} 


footer {
    height: 80px;
    text-align: center;
    background-color: rgb(186, 206, 208);
}

.contacts_link {
    text-decoration: none;
    color: black;

}

.header_1 {
    text-align: center;
    color: #070048;
}

.header_topic_1 {
    color: #445da2;
}